body
{
    width: 100%;
    margin: 0;
    padding: 0;
    margin-left: 16%;
    margin-top: 6%;
    background: #c3d3c8;
    color: white;
    font-family: "Segoe UI";
}


#PartieGauche
{
    float: left;
    width: 40%;
    height: auto;
    border-top: silver 10px double;
    border-bottom: silver 10px double;
    border-left: silver 10px double;
    border-right: silver 10px double;
}


#icone1
{
    margin-top: 4%;
    padding-left: 30%;
    float: left;
    font-size: 20px;

}

#icone2
{
    margin-top: 4%;
    padding-left: 20%;
    float: left;
    font-size: 20px;

}

h3
{
    padding-top: 15px;
}

#BradleyCooper
{
    width: 66.6%;
    height: 172px;
    background: limegreen;
    float: left;
    text-indent: 20px;
}

span
{
    padding-left: 20px;
}


#Profile
{
    width: 33.4%;
    height: 102px;
    background: orange;
    float: left;
    text-align: center;
    padding-top: 70px;

}

.icones
{
    margin-top: 10%;
    font-size: 20px;
}

#Experience
{
    width: 33.3%;
    height: 102px;
    background: dodgerblue;
    float: left;
    text-align: center;
    padding-top: 70px;
}


#Education
{
    width: 33.3%;
    height: 102px;
    background: coral;
    float: left;
    text-align: center;
    padding-top: 70px;
}

#Blog
{
    width: 33.4%;
    height: 102px;
    background: limegreen;
    float: left;
    text-align: center;
    padding-top: 70px;
}


#SocialMenu
{
    width: 33.3%;
    height: 102px;
    background: orange;
    float: left;
    text-align: center;
    padding-top: 70px;
}

#Contact
{
    width: 33.3%;
    height: 102px;
    background: dodgerblue;
    float: left;
    text-align: center;
    padding-top: 70px;
}

#PortFolio
{
    width: 33.4%;
    height: 102px;
    background: orange;
    float: left;
    text-align: center;
    padding-top: 70px;
}


#PartieDroite
{
    float: left;
    width: 24.5%;
    height: 516px;
    border-top: silver 10px double;
    border-bottom: silver 10px double;
    border-left: silver 10px double;
    border-right: silver 10px double;
}

img
{

}


/*Media query pour la largeur des iPads - Format Portrait*/
@media (max-width: 1138px)
{
    body
    {
        height: auto;
        margin-left: 0%;
        margin-top: 0%;
        background: #a41d2c;
    }


    #PartieGauche
    {
        width: 100%;
        padding: 0px;
        height: auto;
        border-top: 2px solid #a41d2c;
        border-left: 2px solid #a41d2c;
        border-right: 2px solid #a41d2c;
        border-bottom: 2px solid #a41d2c;
    }



    #BradleyCooper
    {
        height: 196px;
        border-bottom: 4px solid #a41d2c;
        width: 66%;
        border-right: 4px solid #a41d2c;
    }



    #Profile
    {
        height: 126px;
        padding-top: 70px;
        border-bottom: 4px solid #a41d2c;
    }


    #Experience
    {
        height: 126px;
        padding-top: 70px;
        border-bottom: 4px solid #a41d2c;
        width: 32.8%;
        border-right: 4px solid #a41d2c;
    }


    #Education
    {
        height: 126px;
        padding-top: 70px;
        border-bottom: 4px solid #a41d2c;
        width: 32.8%;
        border-right: 4px solid #a41d2c;
    }

    #Blog
    {
        height: 126px;
        padding-top: 70px;
        border-bottom: 4px solid #a41d2c;
        width: 32.8%;
        border-right: 4px solid #a41d2c;
    }


    #SocialMenu
    {
        height: 130px;
        padding-top: 70px;
        width: 32.8%;
        border-right: 4px solid #a41d2c;
        border-bottom: 4px solid #a41d2c;
    }

    #Contact
    {
        height: 130px;
        padding-top: 70px;
        width: 32.8%;
        border-right: 4px solid #a41d2c;
        border-bottom: 4px solid #a41d2c;
    }

    #PortFolio
    {
        height: 130px;
        padding-top: 70px;
        width: 32.8%;
        border-right: 4px solid #a41d2c;
        border-bottom: 4px solid #a41d2c;
    }


    #PartieDroite
    {
        width: 98%;
        padding: 0px;
        text-align: center;
        padding-bottom: 29%;
        padding-top: 12%;
    }
}


/*Media query pour la largeur des smartphones*/
@media (max-width: 812px)
{
    #PartieGauche
    {
        width: 100%;
        height: auto;
        background: #a41d2c;
        border-top: 2px solid #a41d2c;
        border-left: 2px solid #a41d2c;
        border-right: 2px solid #a41d2c;
        border-bottom:  2px solid #a41d2c;
    }

    #PartieDroite
    {
        width: 100%;
    }


    body
    {
        margin-left: 0%;
        margin-top: 0%;
    }

    #BradleyCooper
    {
        width: 99%;
        font-size: 12.2px;
        height: 140px;
    }

    #icone1
    {
        padding-left: 20%;
        margin-top: 1%;
    }

    #icone2
    {
        padding-left: 20%;
        margin-top: 1%;
    }

    .icones
    {
        margin-top: 2%;
    }


    #Profile
    {
        width: 99%;
        height: 80px;
        padding-top: 15px;
    }


    #Experience
    {
        width: 99%;
        height: 80px;
        padding-top: 15px;
    }

    #Education
    {
        width: 99%;
        height: 80px;
        padding-top: 15px;
    }

    #Blog
    {
        width: 99%;
        height: 80px;
        padding-top: 15px;
    }

    #SocialMenu
    {
        width: 99%;
        height: 80px;
        padding-top: 15px;
    }


    #Contact
    {
        width: 99%;
        height: 80px;
        padding-top: 15px;
    }

    #PortFolio
    {
        width: 99%;
        height: 80px;
        padding-top: 15px;
    }





    #PartieDroite
    {
        width: 99.5%;
        border: none;
    }

}